
.search-wrapper {
  margin: 10px 0 25px;

  .search-form {

    form {
      position: relative;


      input {
        width: 100%;
        height: 52px;
        background: $white;
        border-radius: 30px;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
        border: 1px solid #E5E5E5;
        @include transition(.3s);
        padding-left: 45px;
        padding-right: 50px;


        &::placeholder {
          opacity: 1;
        }

        &:focus {
          border-color: $theme-color;
        }
      }

      i.lni {
        position: absolute;
        left: 20px;
        top: 17px;
      }


      .nice-select {
        position: absolute;
        right: 5px;
        top: 5px;
        background: #516274;
        color: $white;
        border-radius: 30px;
        font-weight: 600;
        padding: 0 15px;

        &::after {
          display: none;
        }

        &::before {
          content: "\eac7";
          font-family: "LineIcons";
          margin-right: 10px;
        }

        .list {

          li {
            color: $body-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}