// Font Family
$font: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #F3FDFF;
$body-bg: #F6F6F6;


// Theme Color
$theme-color: #007BFF;
$theme-color-2: #FF8717;

$border-color: #DBE4E7;

//Body Color
$body-color: #576066;


// Heading Color
$heading-color: #000;

// soft-color

$soft-color: #A8B3BE;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 480px) and (max-width: 767px)';


